sb-dashboard-head(title='Approval', [hideBreadcrumbs]='false')
ngb-accordion(#a="ngbAccordion", activeIds="custom-panel-1")
    ngb-panel([attr.id]="i == 0 ? 'custom-panel 1' : ''", *ngFor="let request of listRequestAbsence; let i = index")
        ng-template(ngbPanelHeader)
            div.d-flex.align-items-center.justify-content-between
                button.btn.btn-link.p-0(ngbPanelToggle) {{request.requestNo}}
                h5.m-0 {{request.absenceEntity.requestDateTime | date: "dd MMM yyyy hh:mm"}}
        ng-template(ngbPanelContent)
            div.row
                div.col-12
                    div([ngClass]="{'text-success': request.status === 'APPROVED', 'text-warning': request.status === 'PENDING', 'text-danger': request.status === 'REJECTED' || request.status === 'CANCEL'}") {{request.status}}
                    span {{request.employeeName}}
                div.col-6.line.justify-content-center.align-content-center
                    div Absence for {{request.absenceEntity.type}} {{request.absenceEntity.amount}} Days
                    div Request Date :
                    div {{request.absenceEntity.startDate | date: "dd MMM yyyy"}} - {{request.absenceEntity.endDate | date: "dd MMM yyyy"}}
                    div Remark :
                    div {{request.absenceEntity.remark == null ? '-' : request.absenceEntity.remark}}
                div.col-6.text-right
                    div Absence Type :
                    div {{request.absenceEntity.absenceTypeEntity.name + " - " + request.absenceEntity.absenceTypeEntity.typeName}}
                div.col-12.mt-2
                    button.btn.btn-success.w-100((click)="openModal(contentDetail, i)")
                        span.pr-2
                            fa-icon([icon]='["fas", "check"]')
                        span Approval
                    button.mt-2.btn.btn-primary.btn-labebed.w-100((click)="downloadFile(request.absenceEntity.attachment)")
                        span.pr-2
                            fa-icon([icon]='["fas", "cloud-download-alt"]')
                        span Download
    ng-http-loader(spinner="sk-three-bounce")
ng-template(#contentDetail, let-modal)
    div.modal-header
        h4.modal-title#modal-basic-title Approval
        button.close(type="button", aria-label="Close", (click)="modal.dismiss('Close Modal')")
            span(aria-hidden="true") &times;
    div.modal-body
        div.row
            div.col-12
                label(for="remark") Remark
                input.form-control#remark(type="text", placeholder="Input Remark", [(ngModel)]="modelRemark")
    div.modal-footer
        div.text-right
        button.mt-2.btn.btn-success.btn-labebed((click)="approvalRequest(listRequestAbsence[idxSelected].requestNo)")
            span.pr-2
                fa-icon([icon]='["fas", "check"]')
            span Approve
