<sb-dashboard-head title="My Request" [hideBreadcrumbs]="false"></sb-dashboard-head
><ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1"
    ><ngb-panel [attr.id]="i == 0 ? 'custom-panel 1' : ''" *ngFor="let request of listRequestFamily; let i = index"
        ><ng-template ngbPanelHeader
            ><div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-link p-0" ngbPanelToggle>{{request.requestNo}}</button>
                <h5 class="m-0">{{request.requestDateTime | date: "dd MMM yyyy hh:mm"}}</h5>
            </div></ng-template
        ><ng-template ngbPanelContent
            ><div class="row">
                <div class="col-12"><span [ngClass]="{'text-success': request.status === 'APPROVED', 'text-warning': request.status === 'PENDING', 'text-danger': request.status === 'REJECTED' || request.status === 'CANCEL'}">{{request.status}}</span></div>
                <div class="col-6 line justify-content-center align-content-center">
                    <div>{{request.employeeName}}</div>
                    <div>Request Date :</div>
                    <div>{{request.requestDateTime | date: "dd MMM yyyy"}}</div>
                </div>
                <div class="col-6 text-right">
                    <div>Approve Date :</div>
                    <div>{{request.approvedDatetime == null ? 'Not Yet' : request.approvedDatetime}}</div>
                </div>
                <div class="col-12 mt-2">
                    <button class="btn btn-outline-primary w-100" (click)="openModal(contentDetail, i)">See Detail</button
                    ><button class="mt-2 btn btn-primary btn-labebed w-100" (click)="downloadFile(request.attachment)">
                        <span class="pr-2"><fa-icon [icon]='["fas", "cloud-download-alt"]'></fa-icon></span><span>Download</span></button
                    ><button class="mt-2 btn btn-danger btn-labebed w-100" *ngIf="request.status == 'PENDING'" (click)="cancelRequest(request.requestNo)">
                        <span class="pr-2"><fa-icon [icon]='["fas", "times"]'></fa-icon></span><span>Cancel</span>
                    </button>
                </div>
            </div></ng-template
        ></ngb-panel
    ><ng-http-loader spinner="sk-three-bounce"></ng-http-loader></ngb-accordion
><ng-template #contentDetail let-modal
    ><div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Employee Request Detail</h4>
        <button class="close" type="button" aria-label="Close" (click)="modal.dismiss('Close Modal')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <div class="card-title">New Name</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newFullName}}</span>
                    </div>
                    <div class="col-6">
                        <div class="card-title">Birth Date</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newBirthDate | date: "dd MMM yyyy"}}</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <div class="card-title">Gender</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newGender}}</span>
                    </div>
                    <div class="col-6">
                        <div class="card-title">Relationship</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newRelationship}}</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <div class="card-title">Alive Status</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newAliveStatus}}</span>
                    </div>
                    <div class="col-6">
                        <div class="card-title">Blood Type</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newBloodType}}</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <div class="card-title">Address</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newAddress}}</span>
                    </div>
                    <div class="col-6">
                        <div class="card-title">City</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newCity}}</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <div class="card-title">Zipcode</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newZipCode}}</span>
                    </div>
                    <div class="col-6">
                        <div class="card-title">Marital Status</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newMaritalStatus}}</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <div class="card-title">No. KK</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newFamilyCardNo}}</span>
                    </div>
                    <div class="col-6">
                        <div class="card-title">Personal Email</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newEmail}}</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <div class="card-title">Nationality</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newNationality}}</span>
                    </div>
                    <div class="col-6">
                        <div class="card-title">Mobile Phone</div>
                        <span class="card-text text-break">{{listRequestFamily[idxSelected].familyRequestData.newMobilePhone}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div></ng-template
>
