sb-layout-address
    sb-dashboard-head(title="My Address", [hideBreadcrumbs]=true)
    div(*ngIf="listDataAddress == 'undefined'")
        span No Address Availabled
    ngb-accordion(#a="ngbAccordion", activeIds="custom-panel-1")
        ngb-panel([attr.id]="i == 0 ? 'custom-panel 1' : ''", *ngFor="let request of listRequestAddress; let i = index")
            ng-template(ngbPanelHeader)
                div.d-flex.align-items-center.justify-content-between
                    button.btn.btn-link.p-0(ngbPanelToggle) Address {{request.primaryFlag ? 'Primary' : i+1}}
            ng-template(ngbPanelContent)
                div.row
                    div.col-12.mt-2
                        button.btn.btn-outline-primary.w-100((click)="openModal(contentDetail, i)") See Detail
        ng-http-loader(spinner="sk-three-bounce")
    ng-template(#contentDetail, let-modal)
        div.modal-header
            h4.modal-title#modal-title Address Detail
            button.close(type="button", aria-label="Close", (click)="modal.dismiss('Close Modal')")
                span(aria-hidden="true") &times;
        div.modal-body
            ul.list-group.list-group-flush
                li.list-group-item
                    div.row
                        div.col-6
                            div.card-title Address
                            span.card-text.text-break {{listRequestAddress[idxSelected].address}}
                        div.col-6
                            div.card-title City
                            span.card-text.text-break {{listRequestAddress[idxSelected].city}}
                li.list-group-item
                    div.row
                        div.col-6
                            div.card-title Country
                            span.card-text.text-break {{listRequestAddress[idxSelected].country}}
                        div.col-6
                            div.card-title Primary
                            span.card-text.text-break {{listRequestAddress[idxSelected].primaryFlag ? 'Yes' : 'No'}}
                li.list-group-item
                    div.row
                        div.col-6
                            div.card-title Province
                            span.card-text.text-break {{listRequestAddress[idxSelected].province}}
                        div.col-6
                            div.card-title Stay Status
                            span.card-text.text-break {{listRequestAddress[idxSelected].stayStatus}}
                li.list-group-item
                    div.row
                        div.col-6
                            div.card-title Type
                            span.card-text.text-break {{listRequestAddress[idxSelected].type}}
                        div.col-6
                            div.card-title Zipcode
                            span.card-text.text-break {{listRequestAddress[idxSelected].zipCode}}
